.image{
  border-radius: 10px;
  height: 200px;
  width: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}

.title{
  color: var(--black-40);
}

.addButton{
  background: rgba(96, 96, 96, 0.4);
  color: var(--white-100);
  border-radius: 6px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: .3s;

  &:hover{
    transform: scale(1.2);
    background: rgba(96, 96, 96, 1);
  }
}